body {
    background-color: #333;
    font-family: arial;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    margin: 1rem;
    color: #f1af32;
    font-size: larger;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #f1af32;
} 

.nav {
    display: flex;
    background-color: #202020;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    padding-right: 20px;
}

.navbar li a:hover {
    color: #dddd;
}

.navbar li a:hover {
    transition: all 0.3s ease 0s;
}

.titulo {
    color: #f1af32;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: clamp(2em, 5vw + 0.5rem, 4rem);
    font-weight: 900;
    text-transform: uppercase;
}

.site-cabeca {
    background-image: url("../imgs/allef-vinicius-IvQeAVeJULw-unsplash.jpg");
    background-position: top;
    background-size: cover;
    padding: 5rem;
    min-height: 70vh;
    display: table;
}

.box1 {
    display: flex;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
}


.todos1 {
    width: 400px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-text1 {
    align-items: top;
    margin-top: 60px;
    margin-left: 30px;
    color: #f1af32;
    font-size: x-large;
    display: flex;
}

.box2 {
    display: flex;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
}

.todos2 {
    width: 400px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-text2 {
    align-items: top;
    margin-top: 60px;
    margin-left: 30px;
    color: #f1af32;
    font-size: x-large;
    display: flex;
}

.localizacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.localizacao-text {
    color: #f1af32;
    font-size: clamp(2em, 2vw + 0.5rem, 3rem);
}

.localizacao-google {
    background-image: url("../imgs/john-karlo-mendoza-idzUojjazCg-unsplash.jpg");
    background-position: top;
    background-size: cover;
    padding: 5rem;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-loc {
    display: flex;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.map {
    display: flex;
    width: 650px;
    margin-left: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
    background:#202020;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
    
.footer .row {
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}
    
.footer .row a {
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
    
.footer .row a:hover {
    color:#fff;
}
    
.footer .row ul {
    width:100%;
}
    
.footer .row ul li {
    display:inline-block;
    margin:0px 30px;
}
    
.footer .row a i {
    font-size:2em;
    margin:0% 1%;
}


.precos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.precos-title {
    background-color: #202020;
    color: #f1af32;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 165px;
    padding-right: 165px;
    margin-bottom: 0px;
}

.ul-body {
    background-color: #282828;
    margin-top: 0px;
    padding-left: 250px;
    padding-right: 250px;
}

.li-2 {
    color: #fff;
}

.sobre-nos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: #f1af32;
    font-size: clamp(2em, 2vw + 0.5rem, 3rem);
}

.vagas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3-text {
    color: #fff;
    font-size: x-large;
    text-align: center;
}

.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    margin-left: 400px;
    margin-right: 400px;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.box3-button {
    align-items: center;
    background-clip: padding-box;
    background-color: #f1af32;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.box3-button:hover,
.box3-button:focus {
  background-color: #f1af32;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.box3-button:hover {
  transform: translateY(-1px);
}

.box3-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Celulares ainda menores */
@media (min-width: 360px) and (max-width: 575.98px) {
    .logo {
        width: 100%;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .titulo {
        margin-top: 100px;
        font-size: clamp(1.5em, 4vw + 1rem, 2.5rem);
        width: 100%;
    }
    
    .box1, .box2 {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
  
    .todos1, .todos2 {
        width: 80%;
        margin-left: 30px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
  
    .img-text1, .img-text2 {
        width: 360px;
        text-align: center;
        font-size: large;
        margin: 0;
        padding: 0;
    }

    .localizacao {
        margin-left: 0px;
    }

    .precos-title {
        text-align: center;
        justify-content: center;
        width: 360px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .ul-body {
        width: 360px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        justify-content: center;
    }

    .li-2 {
        width: 300px;
        margin-left: 45px;
        text-align: center;
        justify-content: center;
    }
  
    .map, .foto-loc {
        width: 170px;
        margin: 10px;
    }

    .sobre-nos {
        text-align: center;
    }

    .box3 {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .box3-text {
        width: 360px;
    }
  
    .footer .row ul li {
        margin: 0px 15px;
    }
}


/* Celulares menores */
@media (min-width: 576px) and (max-width: 767.98px) {

    .logo {
        margin: 15px;
        width: 100%;
    }

    .titulo {
        margin-top: 100px;
        margin-left: 10px;
        font-size: clamp(1.5em, 4vw + 1rem, 2.5rem);
        width: 100%;
    }
    
    .box1, .box2 {
        flex-direction: column;
        margin: 50px;
    }
  
    .todos1, .todos2 {
        width: 80%;
        margin-left: 55px;
    }
  
    .img-text1, .img-text2 {
        width: 500px;
        text-align: center;
        margin-left: 0px;
        font-size: x-large;
    }

    .localizacao {
        margin-left: 0px;
    }

    .precos-title {
        text-align: center;
    }

    .ul-body {
        width: 576px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        justify-content: center;
    }

    .li-2 {
        width: 300px;
        margin-left: 135px;
        text-align: center;
        justify-content: center;
    }
  
    .map, .foto-loc {
        width: 250px;
        margin: 10px;
    }

    .box3 {
        margin: 50px;
        padding: 80px;
    }
  
    .footer .row ul li {
        margin: 0px 15px;
    }
}
  
/* Celulares e alguns tablets */
@media (min-width: 768px) and (max-width: 991.98px) {

    .logo {
        margin-left: 0;
        width: 120px;
    }

    .titulo {
        margin-top: 100px;
        margin-left: 10px;
        font-size: clamp(1.5em, 4vw + 1rem, 2.5rem);
        width: 100%;
    }
    
    .box1, .box2 {
        flex-direction: column;
        margin: 50px;
    }
  
    .todos1, .todos2 {
        width: 80%;
        margin-left: 75px;
    }
  
    .img-text1, .img-text2 {
        width: 500px;
        text-align: center;
        margin-left: 75px;
        font-size: x-large;
    }

    .localizacao {
        margin-left: 0px;
    }

    .precos-title {
        text-align: center;
        width: 438px;
    }

    .ul-body {
        width: 768px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        justify-content: center;
    }

    .li-2 {
        width: 300px;
        margin-left: 235px;
        text-align: center;
        justify-content: center;
    }
  
    .map, .foto-loc {
        width: 300px;
        margin: 10px;
    }

    .box3 {
        margin: 50px;
        padding: 80px;
    }
  
    .footer .row ul li {
        margin: 0px 15px;
    }
}
  
/* Tablets */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .logo {
        margin-left: 0;
        width: 220px;
    }

    .titulo {
        margin-top: 100px;
        margin-left: 10px;
        font-size: clamp(1.5em, 4vw + 1rem, 2.5rem);
        width: 100%;
    }
    
    .box1, .box2 {
        flex-direction: column;
        margin: 50px;
    }
  
    .todos1, .todos2 {
        width: 80%;
        margin-left: 95px;
    }
  
    .img-text1, .img-text2 {
        width: 650px;
        text-align: center;
        margin-left: 130px;
        font-size: x-large;
    }

    .localizacao {
        margin-left: 0px;
    }

    .precos-title {
        text-align: center;
        width: 438px;
    }

    .ul-body {
        width: 768px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        justify-content: center;
    }

    .li-2 {
        width: 300px;
        margin-left: 235px;
        text-align: center;
        justify-content: center;
    }
  
    .map, .foto-loc {
        width: 370px;
        margin: 10px;
    }

    .box3 {
        margin: 50px;
        padding: 80px;
    }
  
    .footer .row ul li {
        margin: 0px 15px;
    }
}

/* Notebooks */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    .logo {
        margin-left: 0;
        width: 220px;
    }

    .titulo {
        margin-top: 100px;
        margin-left: 10px;
        font-size: clamp(1.5em, 4vw + 1rem, 2.5rem);
        width: 100%;
    }
    
    .box1, .box2 {
        flex-direction: column;
        margin: 50px;
    }
  
    .todos1, .todos2 {
        width: 55%;
        margin-left: 250px;
    }
  
    .img-text1, .img-text2 {
        width: 650px;
        text-align: center;
        margin-left: 230px;
        font-size: x-large;
    }

    .localizacao {
        margin-left: 0px;
    }

    .precos-title {
        text-align: center;
        width: 438px;
    }

    .ul-body {
        width: 768px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        justify-content: center;
    }

    .li-2 {
        width: 300px;
        margin-left: 235px;
        text-align: center;
        justify-content: center;
    }
  
    .map, .foto-loc {
        width: 370px;
        margin: 10px;
    }

    .box3 {
        margin: 50px;
        padding: 80px;
    }
  
    .footer .row ul li {
        margin: 0px 15px;
    }
}
